#contact_form {
  color: white;
  font-family: Fira Sans;
  padding: 50px;

  border: 4px solid white;
}

#contact_form:hover {
  background-color: #252B2E;

}

div:hover {
  color: #07B1EF;
  background-color: #252B2E;

}

#submit_button {
  font-family: Fira Sans;
}

nav a div:hover {
  background-color: #252B2E;

  }

#button:hover {
  color: #07B1EF;
  box-shadow: 10px 10px 10px #07B1EF;

}

.bottomcontent {
  text-align: center;
  padding-top: 50px;
  margin-left: -180px;
}
.bottomcontent a {
  font-family: Fira Sans;
  margin-left: -20px;
  padding-left: 6.5%;
  text-decoration: none;
}

.bottomcontent a:hover {
color: #FAC16B;
}

#links {
margin-left: -20px;
  padding-left: 10%;
}
